@{
    ViewData["Title"] = "Shorten your URLs and Links in style";
}

<div class="container">
	<section class="shortener-form">
	 <h5>Enter your link below and get it shortened, nice and easy.</h5>
	 <div class="row">
	  <input type="text" name="url" id="urlshort" placeholder="Shorten your URL" class="six columns" required />
	  <button class="button-primary two columns" id="submit">Shorten</button>
  </div>
  <div class="resp-area inactive" id="resp-area">
	  
  </div>
 </section>
    <table class="twelve columns">
        <thead>
            <tr>
                <th>Shortened URL</th>
                <th>Click Count</th>
                <th>Full Url</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Url in ViewBag.Urls)
            {
                <tr>
                    <td>@Url.ShortenedUrl</td>
                    <td>@Url.Clicked</td>
                    <td>@Url.Url.Substring(0, Math.Min(Url.Url.Length, 25))</td>
                    <td><button class="delete-url" data-token="@(Url.Token)">Delete</button></td>
                </tr>
            }
        <tbody>

    </table>
	 
</div>