@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<h4 class="text-danger">An error occurred while processing your request.</h4>
<p>Please check the URL and try again. Hint: The URLs are case sensitive.</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
